---
import Layout from "../layouts/Layout.astro";


---

<Layout title="About Perfingo">
    
    <section class="relative mt-24 z-2">
      <div class="text-center mx-auto max-w-2xl">
        <div class="text-primary-500 mb-4 text-lg font-semibold">ABOUT US</div>
        <div class="relative lg:text-5xl text-4xl font-extrabold leading-tight text-center mx-auto mb-14 md:text-4xl">
          Making personal finance <br />
          fun, easy and interactive
          <div class="absolute top-[-6rem] right-6 w-16 h-14 bg-[url('/assets/images/icon-2-bling.svg')] bg-no-repeat"></div>
        </div>
      </div>
      <div class="rounded-2xl overflow-hidden lg:h-[660px] h-[330px] md:h-auto flex justify-center items-center mx-auto">
        <img src="/about-us/founder_pic.jpg" alt="about-banner" loading="lazy" class="h-full w-full lg:px-0 px-7 object-contain md:max-w-xs md:rounded-2xl" />
      </div>
    </section>
    
    <section class="w-full py-10 bg-primary-50 -mt-24 pt-32 md:pt-24">
      <div class="container mx-auto flex flex-wrap items-center justify-center gap-8 p-5">
        <div class="max-w-lg text-left">
          <p class="text-primary-500 mb-4 text-lg font-semibold">Our mission</p>
          <h2 class="text-3xl font-bold text-gray-800 mb-4">We believe in</h2>
          <div class="text-gray-700 leading-relaxed">
            <p>
              Our mission is to revolutionise personal finance and empower individuals to take control of
              their financial well-being. We believe that everyone deserves the opportunity to achieve their
              financial goals and build a secure future. With our innovative personal finance super-app, we
              provide users with the tools, knowledge, and support they need to make informed financial
              decisions and navigate their financial journey with confidence.
            </p>
            <br />
            <p>
              We are committed to driving positive change in society by promoting financial literacy,
              inclusivity, and accessibility. Join us on this mission to transform personal finance and unlock
              your financial potential.
            </p>
          </div>
        </div>
        <div class="max-w-lg hidden md:block">
          <img src="/about-us/our-mission.png" alt="about-banner-our-mission" class="rounded-lg shadow-lg max-w-xs" />
        </div>
      </div>
    </section>
    
    <section class="w-full py-10 bg-secondary-900 text-white text-center">
      <div class="max-w-2xl mx-auto">
        <h2 class="text-3xl font-bold mb-8 relative">
          Our vision
          <div class="absolute bottom-0 left-0 right-0 w-32 h-0.5 mx-auto bg-secondary-500"></div>
        </h2>
        <p class="text-secondary-100 leading-relaxed p-2">
          Our vision is to build an inclusive ecosystem that empowers individuals to pursue their own definition
          of success by providing them with the tools, resources, and knowledge to achieve their financial goals.
        </p>
      </div>
    </section>
    
    <section class="w-full py-10 text-center">
      <div class="max-w-5xl mx-auto">
        <p class="text-primary-500 mb-4 text-lg font-semibold">Our story</p>
        <h2 class="text-3xl font-bold text-gray-800 mb-8">How we started</h2>
        <img src="/dtf_logo.png" alt="Dare to Finance Banner" class="w-52 mx-auto mb-8  object-contain" />
        <p class="text-gray-700 leading-relaxed px-5">
          Perfingo started as a humble personal finance Instagram page, under the name of Dare to Finance, born
          out of a deep passion for helping individuals navigate the complex world of personal finance. What began
          as a platform to share our two cents on money management quickly grew into a community-driven
          initiative. As we connected with our audience and witnessed the growing need for financial education, we
          realised that we had the opportunity to make a meaningful impact. This inspired us to expand our efforts
          beyond social media, and now we are on a mission to build the next-gen personal finance super app. We
          remain committed to empowering individuals to take control of their financial well-being and pursue
          their own unique path to success.
        </p>
      </div>
    </section>

</Layout>
