---
import Layout from '../layouts/Layout.astro';
import Header from '../components/landing/Header.astro';
import HowItWorks from '../components/landing/HowItWorks.astro';
import Features from '../components/landing/Features.astro';
import FAQ from '../components/FAQ.astro';
import AccountCard from '../components/landing/AccountCard.astro';
import type Faq from '../types/faq';

const individualCards = [
  {
    title: "Forge your own Financial Pathway",
    image: "/get-started/forger.svg",
    alt: "Forge",
    description: "Use Perfingo in your own way. Recommended for users with good personal finance knowledge.",
    learnMoreLink: "/get-started",
    actionLink: "https://app.perfingo.com/create-account",
    actionText: "Create Account",
  },
  {
    title: "Get a guided session",
    image: "/get-started/guide.svg",
    alt: "Guide",
    description: "Be guided through the process and receive professional analysis. Recommended for users who are primarily interested in the insights.",
    learnMoreLink: "/get-started",
    actionLink: "/guided-session-signup",
    actionText: "Schedule",
  },
];

const faqsHome: Faq[] = [
  {
    title: 'Faq 1: How does Perfingo help in setting and achieving financial goals?',
    description:
      'Perfingo helps you to visualise the feasibility of your goals and the impact of your financial decisions on them. We allow you to integrate life goals into your financial planning, offering customised strategies and advice to help you align your finances with your objectives and achieve them.',
  },
  {
    title: 'Faq 2: Can couples use Perfingo for joint financial planning?',
    description:
      'Yes, Perfingo has features that allow couples to collaboratively manage and plan their finances, fostering transparency and financial harmony in relationships. However, both partners must have their own Perfingo accounts.',
  },
  {
    title: "Faq 3: What's the difference between Perfingo and other personal finance app?",
    description:
      'Perfingo is a personal finance app that helps you to plan and achieve your life goals. We are not just a budgeting app. We help you to visualise the feasibility of your goals and the impact of your financial decisions on them. We allow you to integrate life goals into your financial planning, offering customised strategies and advice to help you align your finances with your objectives and achieve them.',
  },
  {
    title: 'Faq 4: How does Perfingo ensure the security and privacy of my financial data?',
    description:
      'Perfingo prioritises your data security. Firstly, we only ask for your email address. We also employ robust encryption and security protocols to ensure that your financial information is protected from unauthorised access and threats.',
  },
  {
    title: 'Faq 5: Are we working with any financial institutions?',
    description:
      'Perfingo is not working with any financial institutions directly. \
      We only licensed our software to financial planners to help them better serve their clients. \
      Only when you requested for a session with a financial planner, then we will connect you with them.',
  },
];
---

<Layout title="Perfingo - Navigate finances with clarity and confidence">
  <main class="bg-gradient-to-br from-primary-50 to-secondary-100 min-h-screen font-body">
    <Header />
    <HowItWorks />
    <div class="relative w-full h-screen">
      <div class="absolute inset-0 bg-gradient-to-b from-transparent to-secondary-100 z-10"></div>
      <iframe
        class="w-full h-full object-cover"
        src="https://www.youtube.com/embed/ZW-7l1H9hRQ?playlist=ZW-7l1H9hRQ&loop=1&mute=1&hd=1&autoplay=1&controls=0&showinfo=0&rel=0"
        title="Perfingo Demo Video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="absolute inset-0 flex items-center justify-center z-20">
        <div class="text-center text-neutral-800">
          <h2 class="text-4xl font-bold mb-4 shadow-text">Experience Perfingo in Action</h2>
          <p class="text-xl mb-8 shadow-text">Watch how our platform simplifies financial planning</p>
          <a href="#features" class="bg-primary-500 text-white px-6 py-3 rounded-lg hover:bg-primary-600 transition-colors duration-300">
            Learn More
          </a>
        </div>
      </div>
    </div>
    <Features/>
    <div class="py-20 bg-gradient-to-br from-white to-secondary-50">
      <h2 class="text-4xl font-bold text-center mb-16 text-neutral-800">Get started with Perfingo</h2>
      <AccountCard cards={individualCards}/>
    </div>
    <FAQ faqs={faqsHome}/>
  </main>
</Layout>

<style>
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
</style>