<footer class="bg-neutral-900 text-white py-6">
    <div class="container mx-auto text-center">
      <p>&copy; {new Date().getFullYear()} Perfingo. All rights reserved.</p>
      <nav class="footer-nav mt-4">
        <ul class="flex justify-center space-x-4">
          <li><a href="/" class="hover:text-neutral-500">Home</a></li>
          <li><a href="/#calculators" class="hover:text-neutral-500">Calculators</a></li>
          <li><a href="/about" class="hover:text-neutral-500">About</a></li>
          <li><a href="/contact" class="hover:text-neutral-500">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  