<header class="bg-primary-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/logo.png" alt="Perfingo Logo" class="h-12" />
        </a>
      </div>
      <nav class="site-nav">
        <ul class="flex space-x-6">
          <li><a href="/" class="text-white hover:text-primary-200">Home</a></li>
          <li><a href="/#calculators" class="text-white hover:text-primary-200">Calculators</a></li>
          <li><a href="/about" class="text-white hover:text-primary-200">About</a></li>
          <li><a href="/contact" class="text-white hover:text-primary-200">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  